.assignment-nav{
    display: flex;
    gap:20px;
}
.assignment-nav > button{
    background: none;
    border: none;

}
.selection-bar{
   float:right;
}
.table-header{
    border-radius: 5px;
    background-color: aqua;
    
}

